{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h4>Watchlist</h4>
            {% if watchlist %}
            <table class="table clickable-table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="250">Titel</th>
                        <th>Handlung</th>
                        <th>Release</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in watchlist %}
                        <tr href="{{ url_for('movie_by_id', movie_id=movie.Id) }}">
                            <td>{{ movie.Title }}</td>
                            <td>{{ movie.Plot }}</td>
                            <td>{{ movie.Year }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
           {% else %}
            <p>Kein Film in der Watchlist</p>
            {% endif %}
        </div>
        <div class="col">
            <h4>Filmvorschlag</h4>
            <p>Bitte Genre angeben, du erhälst danach einen Filmvorschlag basierend auf deiner Filmdatenbank.</p>
            <form method="post">
                <div class="form-group">
                    <label for="Genre">Genre (optional)</label>
                    <input type="text" class="form-control" id="Genre" name="Genre">
                </div>
                <button type="submit" class="btn btn-primary">Mach mir einen Vorschlag!</button>
            </form>
        </div>
    </div>
    <div style="text-align: center">

    </div>
{% endblock %}